<!-- <div class="form-group">
    <label for="topic">Topic</label>
    <input type="text" class ="form-control" id="topic" name="topic" require value="<%= post.topic %>">
</div>
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class ="form-control" id="name" name="name" required value="<%= post.name %>">
</div>
<div class="form-group">
    <label for="message">Message</label>
    <textarea type="text" class="form-control" name="message" id="message" required><%= post.message  %> </textarea>
</div>
<button type="submit" class="btn btn-primary btn-lg active">Submit</button> -->