

.button {
    padding: 15px 50px;
    color: white;
    border-radius: 10px;
    border: none;
}

.blue {
    background-color: #0D47A1;
}

.red {
    background-color: #F44336;
}

.green {
    background-color:#4CAF50;
}

.yellow {
    background-color: #FFEB3B;
}