<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>testing a form:</h1>
    <form action="/results" method="post">

        <p>select any:</p>
        
        <input type="checkbox" name="pets" id="first">
        <label for="first">kittens</label>
        
        <input type="checkbox" name="pets" id="second">
        <label for="second">puppies</label>
        
        <input type="checkbox" name="pets" id="third">
        <label for="third">fish</label>
        <br><br>
        <label for="colors">what's your favorite color?</label>
        <input type="text" id="colors">

        <input id="myBtn" type="submit" value="submit info">

    </form>

   
</body>
</html>