<%- include('partials/header')  %> 
<h1>About our company</h1>
<p>We got glazed, chocolate iced, raspberry filled, chocolate iced glazed, and about three dozen other flavors </p>
<%- include('partials/footer')  %> 