<%- include('partials/header')  %> 
<form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <button type="button" class="btn btn-light">Submit</button>
<%- include('partials/footer')  %> 