* {
    padding: 0;
    margin: 0;
}

input[type="text"] {
    margin-bottom: 10px;
}

#recipe {
    background-color: wheat;
    padding: 20px;
}

#title {
    display: block;
}

#servings {
    display: block;
}

.ingredient {
    display: block;
}

.additional {
    display: none;
}

#save {
    margin-top: 100px;
}

.results {
    background-color: turquoise;
}