* {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


input[type="text"] {
    margin-bottom: 10px;
}

#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#recipe {
    background-color: wheat;
    padding: 20px;
    width: 50%;
}

#result {
    background-color:ivory;
    border: 1px solid green;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result p {
    text-align: center;
}

#title {
    display: block;
}

#servings {
    display: block;
}

.ingredient {
    display: block;
}

#save {
    margin-top: 100px;
}



