body {
    background-color: #9dddf2;
    text-align: center;
}

form input {
    font-weight: heavy;
    font-size: 3em;;
}

input[type='submit'] {
    background-color: #000c64;
    color: white;
    font-size: 1.5em;
    padding: 25px 50px;
    border-radius: 25px;
    border: 2px white solid;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2em;
}

span {
    color: black;
    text-shadow: 1px 1px white;
    font-size: 2em;
}