<%- include('./partials/header') %> 

<div class="container-fluid fullscreen">
    <h1 class="white">In the mood to catch a flick? See what movies are playing now!</h1>
    <form action="/getMovies" method="get">
        <button type="submit" class ="btn btn-warning btn-large text-white">Show me a list of movies!</button>
    </form>
</div>



<%- include('./partials/footer.ejs') %> 