body {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 245, 224);
}

#gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#gallery img {
  width: 30%;
  height: auto;
  margin-top: 50px;
}