<!-- end bootstrap jumbotron section for body -->
</div>
<!-- begin bootstrap footer with breadcrumbs component -->
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="home">Home</a></li>
    <li class="breadcrumb-item"><a href="about">About</a></li>
    <li class="breadcrumb-item"><a href="contact">Contact</a></li>
</ol>
</nav>
  <!-- end bootstrap footer -->
</body>
</html>