body {
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: grey;
    padding: 40px 0 0 60px;
}

.main {
    width: 100%;
    max-width: 800px;
}

h1 {
    font-weight: 400;
    color: black;
}

fieldset {
    padding: 50px;
}


label {
    display: block;
    margin: 15px 0 5px 0;
}

#email, #pw {
    display: block;
    max-width: 250px;
    border-radius: 6px;
    border: 1px solid rgb(224, 224, 224);
    padding: 5px;
}

#email:focus, #pw:focus {
    outline: rgb(157, 208, 255) auto 4px;
}

#submit {
    background-color: rgb(27, 121, 245);
    color: white;
    box-shadow: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin-top: 15px;
}

