* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 1px solid grey;
    box-shadow: 10px 5px 5px grey;
    margin: 5px;
    padding: 10px;
    width: 33.33%;
    text-align: center;
}