<% data.forEach(element => { %>
    <div class="card">
        <h2>Name: <%= element.name %></h2>
        <p>Description: <%= element.description %></p>
        <p>Age: <%= element.age %></p>
    </div>
<% }); %>