<%- include('./partials/header.ejs'); -%>

<div class="result">
    <h3 class="result__header">You could...</h3>
    <div class="result__statement-container">
        <p class="result__statement"><%= data.activity || "Sorry we have no solutions to your boredom with these parameters" %></p>
    </div>
</div>


<%- include('./partials/footer.ejs'); -%>