* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: oswald, sans-serif;
    background-color: #ECEFF1;
}

a {
    text-decoration: none;
    color: black;
    line-height: 70px;
    vertical-align: middle;
}

nav > ul > li {
    display: inline-block;
    background-color:#01579B;
    width: 287px;
    height: 70px;
    text-align: center;
    margin-right: 1px;
    float: left;
}

nav > ul > li:hover  {
    background-color:#9AD1E3;
}

ul li ul li {
    display: block;
    width: 287px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}

ul li ul {
    display: none;
    position: absolute;
    top: 70px;
    background-color: white;
    max-width: 287px;
}

ul li ul li:hover {
    background-color: #ACE39A ;
}

nav > ul li:hover a {
    text-decoration: underline;
}

nav > ul li:hover ul {
    display: block;
}